<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <connectionStrings>
    <add name="quartz-db" connectionString="mongodb://localhost/quartz-db"/>
  </connectionStrings>
  <quartz>
    <add key="quartz.scheduler.instanceName" value="DefaultQuartzScheduler" />
    <add key="quartz.scheduler.instanceId" value="QuartzTestScheduler" />
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz" />
    <add key="quartz.threadPool.threadCount" value="10" />
    <add key="quartz.threadPool.threadPriority" value="Normal" />

    <add key="quartz.jobStore.type" value="Quartz.MongoDB.JobStore, Quartz.MongoDB" />
    <add key="quartz.jobStore.misfireThreshold" value="5000" />

    <add key="quartz.jobStore.tablePrefix" value="qrtz." />
    <add key="quartz.jobStore.connectionStringName" value="quartz-db" />

  </quartz>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog41">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
        autoReload="true"
        throwExceptions="false">
    <!-- optional, add some variabeles
    https://github.com/nlog/NLog/wiki/Configuration-file#variables
    -->
    <variable name="logsDir" value="${basedir}/logs"/>
    <!-- 
    See https://github.com/nlog/nlog/wiki/Configuration-file 
    for information on customizing logging rules and outputs.
     -->
    <targets>
      <!-- 
      add your targets here 
      See https://github.com/nlog/NLog/wiki/Targets for possible targets.
      See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
      -->
      <!--
      Writing events to the a file with the date in the filename. 
      -->
      <target xsi:type="File" name="f" fileName="${logsDir}/${logger}/${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${message}" />
      <target xsi:type="File" name="csv" fileName="${logsDir}/${logger}/${level}.${shortdate}.csv">
        <layout xsi:type="CSVLayout">
          <column name="time" layout="${longdate}" />
          <column name="level" layout="${uppercase:${level}}" />
          <column name="logger" layout="${logger}" />
          <column name="message" layout="${message}" />
        </layout>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="csv" />
    </rules>
  </nlog>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.3.0" newVersion="2.3.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>